<section>
    
    <h3>{{title}}</h3>
    <p>Posted by {{user.username}} on {{format_date created}} at {{format_time created}}</p>
    <p class= 'contentView'>{{content}}</p>
    <div style="display: flex; justify-content:space-evenly">
        
        <button class="updBtn postBtn" data-postId={{id}}>Update Post</button>
        <button class="delBtn postBtn" data-postId={{id}}>Delete post</button>
        
    </div>
   
</section>

