{{!-- partial to display all posts and all comments associated with each post --}}
<section data-id={{id}}>
    <h3>{{title}}</h3>
    <p>Posted on {{format_date created}} at {{format_time created}}</p>
    <div style= 'display:none;' class ="postContainer">
        <div class='contentView'>
            <h3>{{user.username}} posted:</h3>
            <p>{{content}}</p>
        </div>
        {{#if comments}}
        <div class = 'commentView'>
            
            <h3>Comments</h3>
            {{#each comments as |comment|}}
            <div>
                <p style='border-bottom:1px solid var(--dark)'> {{user.username}} Commented on {{format_date created}}
                    at {{format_time created}} </p>
                <p>{{content}}</p>
            </div>
            {{/each}}
            
        </div>
        {{/if}}
        {{#if @root.loggedIn}}
        <div class="commentBtnDiv">
        <button class="postBtn comment">Comment</button></div>
        {{/if}}
        <form class="form comment-form" style="display:none" data-postId={{id}}>
            <div class="form-group">
                <label for="postContent">Content:</label>
                <textarea class="content" id="postContent">
                </textarea>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </div>

        </form>

    </div>
    <button class="postBtn viewPost">View post</button>
</section>